<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="beveragescss.css">
   <title>Aisle options</title>
</head>
<body>
<h1 class="bev"><u>beverages</h1></u>
   <div class="column">
      <div class="row"
       > <img src="images2/ginger ale.jpg" alt="Ginger ale"> 
<h4>Ginger Ale</h4>
   <details><summary>Description</summary>
<li>Ginger ale is made from actual Ginger</li>
<li>its main brands are Schweppes and Canada Dry</li>
<button>add to cart</button>
</details>
</div>
</div>

<div class="column">
   <div class="row">
     <img src="images2/tea.jpg" alt="Ginger ale"> 
<h4>Tea</h4>
   <details><summary>Description</summary>
<li>Tea is one of the most popular drinks</li>
<li>there are many types of teas:green tea,early gray</li>
<button>add to cart</button>
</details>
</div>
</div>

<div class="column">
   <div class="row">
     <img src="images2/cola.jpg" alt="Ginger ale"> 
<h4>cola</h4>
   <details><summary>Description</summary>
<li>cola is the most popular soft drink in the grocery aisle</li>
<li>its two popular brands are Coca-Cola and pepsi </li>
<button>add to cart</button>
</details>
</div>
</div>

<div class="column">
   <div class="row">
     <img src="images2/pexels-chevanon-photography-302899.jpg" alt="Ginger ale"> 
<h4>Coffee</h4>
   <details><summary>Description</summary>
<li>coffee is a very popular drink made from coffee beans </li>
<li>there are many types of coffee's</li>
<li>expresso,latte,ameircano,capacciuno</li>
<button>add to cart</button>
</details>
</div>
</div>

<div class="column">
   <div class="row">
     <img src="images2/pexels-timur-weber-8679183.jpg" alt="Ginger ale"> 
<h4>Watermelon juice</h4>
   <details><summary>Description</summary>
<li>watermelon juice is made from watermelon </li>
<li>its fresh and natural no added sugar</li>
<button>add to cart</button>
</details>
</div>
</div>

<div class="column">
   <div class="row">
     <img src="images2/pexels-photomix-company-96974.jpg" alt="Ginger ale"> 
<h4>lemonade</h4>
   <details><summary>Description</summary>
<li>lemonade is from actual lemonds</li>
<li>lemoande is fresh and natural and naturally squeezed </li>
<button>add to cart</button>
</details>
</div>
</div>




</body>




 
            </html>
