<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cart.css">
</head>
<body>
   
<div class="name"></div>
<table>
<tr>
<td>
    <div class="cart-info">
    </div>
</td>
    <th>cola</th>
    <th>watermelon juice</th>
    <th>ginger ale</th>
</tr>
<tr>
    <td>product name</td>
    
</tr>
</table>
<img src="images2/ginger ale.jpg" alt="" height="150px"width="100px">





</body>
</html>