<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="../../../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="addToCartBread.js" async></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Al-Sham</title>
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">Al-Sham</h1>
        <nav>
          <ul>
            <li><a href="/components/Pages/home.html">Home</a></li>
            <li>
              <a href="/components/Pages/aisles/aisles.html">Aisles</a>
            </li>

            <li><a href="/components/Pages/login.html">User login</a></li>
            <li><a href="/components/Pages/admin.html">Admin</a></li>
            <li>
              <a href="/components/Pages/createAccount.html">Create account</a>
            </li>
            <li><a href="/components/Pages/cart.html">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!--ShowCase-->
    <section>
      <div class="md text-center my-2">Breads</div>
    </section>

    <section class="product my-2 py-2">
      <h1 class="heading">Our latest Breads</h1>
      <div class="box-container my-2 py-2">
        <div class="box">
          <img
            src="../../../images/breadImages/fancybread.jpg"
            alt="Whole Wheat Round Bread"
          />
          <h3>Whole Wheat Round Bread</h3>
          <div class="price">$3 <span>tax not included</span></div>
          <details>
            <li>Calories: 80</li>
            <li>Protein: 4 grams</li>
            <li>Fat: 0.5</li>
            <li>Carbs: 15 grams</li>
            <li>Fiber: 3 grams</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img
            src="../../../images/breadImages/crepebread.jpg"
            alt="crepebread"
          />
          <h3>Crepe Bread</h3>
          <div class="price">$3 <span>tax not included</span></div>
          <details>
            <li>Calories: 100</li>
            <li>Protein: 2 grams</li>
            <li>Fat: 3.5</li>
            <li>Carbs: 20 grams</li>
            <li>Fiber: 3 grams</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img src="../../../images/breadImages/toast.jpg" alt="Toast Bread" />
          <h3>Toast Bread</h3>
          <div class="price">$3 <span>tax not included</span></div>
          <details>
            <li>Calories: 30</li>
            <li>Protein: 8 grams</li>
            <li>Fat: 0.1</li>
            <li>Carbs: 5 grams</li>
            <li>Fiber: 3 grams</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/pack</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img
            src="../../../images/breadImages/wholeWeatBread.jpg"
            alt="Whole Wheat Bread"
          />
          <h3>Whole Wheat Bread with Nuts</h3>
          <div class="price">$3 <span>tax not included</span></div>
          <details>
            <li>Calories: 20</li>
            <li>Protein: 2 grams</li>
            <li>Fat: 0.5</li>
            <li>Carbs: 1 grams</li>
            <li>Fiber: 10 grams</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/pack</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img
            src="../../../images/breadImages/roundbread.jpg"
            alt="Round Bread"
          />
          <h3>Round Bread</h3>
          <div class="price">$3 <span>tax not included</span></div>
          <details>
            <li>Calories: 30</li>
            <li>Protein: 10 grams</li>
            <li>Fat: 2.5</li>
            <li>Carbs: 23 grams</li>
            <li>Fiber: 9 grams</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/pack</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
          <img
            src="../../../images/breadImages/roundhardbread.jpg"
            alt="Whole Round Bread with Wheat"
          />
          <h3>Whole Round Bread with Wheat</h3>
          <div class="price">$3 <span>tax not included</span></div>
          <details>
            <li>Calories: 50</li>
            <li>Protein: 17 grams</li>
            <li>Fat: 4.5</li>
            <li>Carbs: 12.5 grams</li>
            <li>Fiber: 3.99 grams</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/pack</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>
    </section>

    <!--   FOOTER     -->
    <footer class="footer bg-dark py-5">
      <div class="container grid grid-3">
        <div>
          <h1>Al-Sham</h1>
          <p>Copyright &copy; 2021</p>
        </div>
        <nav>
          <ul>
            <li><a href="home.html"></a>Home</li>
            <li><a href="login.html"></a>Login</li>
            <li><a href="createAccount.html"></a>Create Account</li>
          </ul>
        </nav>
        <div class="social">
          <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
