<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="../../../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Al-Sham</title>
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">Al-Sham</h1>
        <nav>
          <ul>
            <li><a href="/components/Pages/home.html">Home</a></li>
            <li>
              <a href="/components/Pages/aisles/aisles.html">Aisles</a>
            </li>

            <li><a href="/components/Pages/login.html">User login</a></li>
            <li><a href="/components/Pages/admin.html">Admin</a></li>
            <li>
              <a href="/components/Pages/createAccount.html">Create account</a>
            </li>
            <li><a href="/components/Pages/cart.html">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!--ShowCase-->
    <section>
      <div class="md text-center my-2">Eggs and Diary</div>
    </section>

    <section class="product my-2 py-2">
      <h1 class="heading">Our Eggs and Dairy Products</h1>
      <div class="box-container my-2 py-2">
        <div class="box">
          <img src="../../../images/eggsAndMilkImages/eggs.jpg" alt="Eggs" />
          <h3>Eggs</h3>
          <details>
            <li>Brown eggs are very rich and healthy</li>
            <li>A great source of protien</li>
          </details>
          <div class="price">$0.15 <span>tax not included</span></div>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>
        <!--TOMATOES-->
        <div class="box">
          <img src="../../../images/eggsAndMilkImages/milk.jpg" alt="milk" />
          <h3>Milk</h3>
          <div class="price">$2.50 <span>tax not included</span></div>
          <details>
            <li>Milk is very good for calcium intake</li>
            <li>A great source of protien and bone strucutre</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/liter</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img
            src="../../../images/eggsAndMilkImages/icecream.jpg"
            alt="Ice Crema"
          />
          <h3>Vanilla Ice Cream</h3>
          <div class="price">$4.99 <span>tax not included</span></div>
          <details>
            <li>Vanilla is a great extract very rich and smooth</li>
            <li>A rich flavour with a rich taste</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img
            src="../../../images/eggsAndMilkImages/chedderChesse.jpg"
            alt="Chedder Cheese"
          />
          <h3>Chedder Cheese</h3>
          <div class="price">$2.50 <span>tax not included</span></div>
          <details>
            <li>Chedder Cheese is very mild, creamy, and smooth.</li>
            <li>
              Cant be cooked in many dished , it is very buttery and moist
            </li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/pounds</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img
            src="../../../images/eggsAndMilkImages/qualieggs.jpg"
            alt="Quail Eggsd"
          />
          <h3>Quail Eggs</h3>
          <div class="price">$1.15 <span>tax not included</span></div>
          <details>
            <li>
              Quail eggs are really known for are their rich, deep yellow yolks.
            </li>
            <li>Typically are one-third the size of a standard chicken egg</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="4" max="100" value="1" />
            <span>/pack</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
          <img
            src="../../../images/eggsAndMilkImages/swissCheese.jpg"
            alt="cheese"
          />
          <h3>Swisse Cheese</h3>
          <div class="price">$3.50 <span>tax not included</span></div>
          <details>
            <li>Swiss, its flavour is mild, sweet and nut-like</li>
            <li>It has a savoury, but not very sharp taste.</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/pounds</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>
    </section>

    <!--   FOOTER     -->
    <footer class="footer bg-dark py-5">
      <div class="container grid grid-3">
        <div>
          <h1>Al-Sham</h1>
          <p>Copyright &copy; 2021</p>
        </div>
        <nav>
          <ul>
            <li><a href="home.html"></a>Home</li>
            <li><a href="login.html"></a>Login</li>
            <li><a href="createAccount.html"></a>Create Account</li>
          </ul>
        </nav>
        <div class="social">
          <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
