<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="../../../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Al Sham</title>
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">Al Sham</h1>
        <nav>
          <ul>
            <li><a href="/components/Pages/home.html">Home</a></li>
            <li>
              <a href="/components/Pages/aisles/aisles.html">Aisles</a>
            </li>

            <li><a href="/components/Pages/login.html">User login</a></li>
            <li><a href="/components/Pages/admin.html">Admin</a></li>
            <li>
              <a href="/components/Pages/createAccount.html">Create account</a>
            </li>
            <li><a href="/components/Pages/cart.html">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!--ShowCase-->
    <section>
      <div class="md text-center my-2">Bakery and Pastry</div>
    </section>

    <section class="product my-2 py-2">
      <h1 class="heading">Our Bakery and Pastry Section</h1>
      <div class="box-container my-2 py-2">
        <div class="box">
          <img src="../../../images/pastryImages/tirmasu.jpg" alt="tirmasu " />
          <a href="trimasu_P3.html">
            <h3>tiramisu</h3>
        </a>
          <div class="price">$0.99 <span>tax not included</span></div>
          <details>
            <li>Tiramisu is an elegant and rich layered Italian dessert</li>
            <li>
              Made with delicate ladyfinger cookies, espresso or instant
              espresso,
            </li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/Unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>
        <!--BAKERY AND PASTRY-->
        <div class="box">
          <img
            src="../../../images/pastryImages/smallchocolate.jpg"
            alt="Small Chocolate Cake"
          />
          <a href="chocolatMiniCake_P3.html">
            <h3>Small Chocolate Cake</h3>
        </a>
          <div class="price">$1.99 <span>tax not included</span></div>
          <details>
            <li>Super delicious, thick, delicious</li>
            <li>Delicious, homemade</li>
            <li>
              rich, moist, mouth-watering, indigestible, scrumptious, gooey
            </li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/Unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img
            src="../../../images/pastryImages/cheescake.jpg"
            alt="Strawberry Cake"
          />
          <a href="strawberryCake_P3.html">
            <h3>Strawbery Cake</h3>
        </a>
          <div class="price">$4.99 <span>tax not included</span></div>
          <details>
            <li>Super delicious, thick Strawberry</li>
            <li>Delicious, homemade</li>
            <li>
              rich, moist, mouth-watering, indigestible, scrumptious, gooey
            </li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img
            src="new images 2/chocolate _chip_cookie.jpeg"
            alt="chocolate chip cookiesr"
          />
          <a href="chocolatChipCookie_P3.html">
            <h3>Chocolate Chip Cookie</h3>
        </a>
          <div class="price">$0.99 <span>tax not included</span></div>
          <details>
            <li>Super delicious chocolate cookie</li>
            <li>Oven Backed and homemade</li>
            <li>rich and light</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/Unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img src="new images 2/chocolate_cake.jpeg" alt="CHOCOLATE CAKE" />
          <a href="chocolatCakeWithIcing_P3.html">
            <h3>Chocolate Cake with Chocolate Icing</h3>
        </a>
          <div class="price">$5.99 <span>tax not included</span></div>
          <details>
            <li>Super delicious chocolate chocolate</li>
            <li>Oven Backed and homemade</li>
            <li>rich and heavy creamy taste</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/Unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
          <img src="new images 2/croissant.jpeg" alt="CROISSANT" />
          <a href="croissant_P3.html">
            <h3>Croissant</h3>
        </a>
          <div class="price">$3.99 <span>tax not included</span></div>
          <details>
            <li>Super delicious oven baked Croissant</li>
            <li>Oven Backed and homemade</li>
            <li>Made with extra butter</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/Unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>
    </section>

    <!--   FOOTER     -->
    <footer class="footer bg-dark py-5">
      <div class="container grid grid-3">
        <div>
          <h1>Al Sham</h1>
          <p>Copyright &copy; 2021</p>
        </div>
        <nav>
          <ul>
            <li><a href="home.html"></a>Home</li>
            <li><a href="login.html"></a>Login</li>
            <li><a href="createAccount.html"></a>Create Account</li>
          </ul>
        </nav>
        <div class="social">
          <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
