<!DOCTYPE html>
<html lang="en">
  <script src="./../../../javascript/cart.js"></script>
  <script src="./../../../javascript/addToCart.js"></script>

  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <script src="addToCartSnacks.js" async></script>
    <link rel="stylesheet" href="../../../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Al-Sham</title>
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">Al-Sham</h1>
        <nav>
          <ul>
            <li><a href="/components/Pages/home.html">Home</a></li>
            <li>
              <a href="/components/Pages/aisles/aisles.html">Aisles</a>
            </li>

            <li><a href="/components/Pages/login.html">User login</a></li>
            <li><a href="/components/Pages/admin.html">Admin</a></li>
            <li>
              <a href="/components/Pages/createAccount.html">Create account</a>
            </li>
            <li><a href="/components/Pages/cart.html">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!--ShowCase-->
    <section>
      <div class="md text-center my-2">Snacks</div>
    </section>

    <section class="product my-2 py-2">
      <h1 class="heading">Our latest Snacks</h1>
      <div class="box-container my-2 py-2">
        <div class="box">
          <img
            src="../../../images/snackImages/doritos_nacho_cheese.jpeg"
            alt="Doritos Nachos Cheese"
          />
          <a href="doritos_P3.html">
            <h3>Doritos Nacho Cheese</h3>
        </a>
          <div class="price">$5 <span>tax not included</span></div>
          <details>
            <li>
              Doritos Nacho Cheese Tortilla- Flavoury cheese nachos (235g)
            </li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img
            src="../../../images/snackImages/lays_classic.jpeg"
            alt="Lays Classis"
          />
          <a href="lays_P3.html">
            <h3>Lays Classics</h3>
        </a>
          <div class="price">$5 <span>tax not included</span></div>
          <details>
            <li>Lay's Classic Potato Chips - Classic Lays Chips (235g)</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img
            src="../../../images/snackImages//flaming_hot_cheetos.png"
            alt="Flaming Hot Cheetos"
          />
          <a href="flamingHotCheetos_P3.html">
            <h3>Flaming Hot Cheetos</h3>
        </a>
          <div class="price">$5 <span>tax not included</span></div>
          <details>
            <li>Flaming Hot Cheetos - Flaming Hot Cheetos (535g)</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img src="../../../images/snackImages/kitkat.png" alt="Kitkat" />
          <a href="kitkat_P3.html">
            <h3>KitKat</h3>
        </a>
          <div class="price">$5 <span>tax not included</span></div>
          <details>
            <li>Kitkat 4-Finger Milk Chocolate Bar (45g)</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>

        <div class="box">
          <img src="../../../images/snackImages/aero.jpeg" alt="Aero" />
          <a href="aero_P3.html">
            <h3>Aero</h3>
        </a>
          <div class="price">$5 <span>tax not included</span></div>
          <details>
            <li>Aero Milk chocolate Candy Bar (42g)</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/unit</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
          <img
            src="../../../images/snackImages/snicnkers.jpeg"
            alt="Snickers"
          />
          <a href="snicker_P3.html">
            <h3>Snickers</h3>
        </a>
          <div class="price">$5 <span>tax not included</span></div>
          <details>
            <li>Snickers Chocolate Candy Bar (57g)</li>
          </details>
          <div class="quantity">
            <span>Quantity: </span>
            <input type="number" min="1" max="100" value="1" />
            <span>/pounds</span>
          </div>
          <a href="#" class="btn">add to cart</a>
        </div>
      </div>
    </section>

    <!--   FOOTER     -->
    <footer class="footer bg-dark py-5">
      <div class="container grid grid-3">
        <div>
          <h1>Al-Sham</h1>
          <p>Copyright &copy; 2021</p>
        </div>
        <nav>
          <ul>
            <li><a href="home.html"></a>Home</li>
            <li><a href="login.html"></a>Login</li>
            <li><a href="createAccount.html"></a>Create Account</li>
          </ul>
        </nav>
        <div class="social">
          <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
