<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="../../../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Al-Sham </title>
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">Al-Sham </h1>
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="aisles/aisles.html">Aisles</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="createAccount.html">Create Account</a></li>
            <li><a href="admin.html">Admin</a></li>
            <li><a href="cart.html">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!--ShowCase-->
    <section class="category">
      <div class="container">
        <div class="md text-center my-2">Admin Page</div>
        <div class="container flex">
          
          <a href="orders.html">
          <div  class="card btn">
            <h4>Orders</h4>
            <i class="fab fa-first-order"></i>
          </div>
        </a>

          <a href="viewproducts.html">
            <div class="card btn">
              <h4>View Prodcuts</h4>
              <i class="fas fa-eye"></i>
            </div>
          </a>
          
          <a href="addproduct.html">
          <div class="card btn">
            <h4>Add Products</h4>
            <i class="fa fa-plus" ></i>
          </div>
        </a>

        <a href="users.html">
          <div class="card btn">
            <h4>Users</h4>
            <i class="fas fa-user"></i>
          </div>
        </a>

        
          </div>
        </div>
      </div>
    </section>

    <section>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
    </section>
    
    <!--   FOOTER     -->
    <footer class="footer bg-dark py-5">
      <div class="container grid grid-3">
        <div>
          <h1>Al-Sham</h1>
          <p>Copyright &copy; 2021</p>
        </div>
        
      </div>
    </footer>
  </body>
</html>
