<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="../../css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Al-Sham</title>
  </head>
  <body>
    <!--Navbar-->
    <div class="navbar">
      <div class="container flex">
        <h1 class="logo">Al-Sham</h1>
        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li>
              <a href="aisles/aisles.html">Aisles</a>
            </li>
            <li><a href="login.html">User login</a></li>
            <li><a href="createAccount.html">Create account</a></li>
            <li><a href="admin.html">Admin</a></li>
            <li><a href="cart.html">Cart</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="card">
      <div class="row">
          <div class="col-md-8 cart">
              <div class="title">
                  <div class="row">
                      <div class="col">
                          <h1><b>Al Sham Grocery Cart</b></h1>
                      </div>
                      <div class="col align-self-center text-right text-muted">Beverages Section</div>
                      <hr>
                  </div>
              </div>
              <div class="row border-top border-bottom">
                  <div class="row main align-items-center">
                      <div class="col-2"><img class="img-fluid" src="../../images/bevImages/cola.jpg"></div>
                      <div class="col">
                          <div class="row text-muted"> 1 x Cola &dollar; 2.99</div>
                        
                      </div>
                    
                  </div>
              </div>
              <div class="row border-top border-bottom">
                  <div class="row main align-items-center">
                      <div class="col-2"><img class="img-fluid" src="../../images/bevImages/ginger ale.jpg"></div>
                      <div class="col">
                          <div class="row text-muted"> 1 x Ginger ale  &dollar;3.00</div>
                          <div class="row"></div>
                      </div>
                    
                  </div>
              
                  <hr>
                  <div class="row">
                      <div class="col" style="padding-left:0;">Snack Section</div>
                      <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="../../images/snackImages/aero.jpeg"></div>
                        <div class="col">
                            <div class="row text-muted"> 10 x Aero &dollar;3.00</div>
                            <div class="row"></div>
                        </div>
                      
                    </div>
                  </div>
                  <hr>
                  <form>
                      <p>SHIPPING</p> <select>
                          <option class="text-muted">Standard-Delivery- &dollar;5.00</option>
                      </select>
                      
                  <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                      <h4>Total Price before tax</h4>
                      <div class="col text-right">&dollar; 15.00</div>
                      <h4>Price after tax</h4>
                      <div class="col text-right">GST &dollar; 3.00</div>
                      <div class="col text-right">QST &dollar; 2.55</div>

                      <h2>Total : &dollar; 20.55</h2>
                  </div> 
                  <div class="btn ">Checkout</div>
              </div>
          </div>
      </div>
    </div>

    <section>
      <br>
      <br>
      <br>
      <br>
    </section>
  <footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
      <div>
        <h1>Al-Sham</h1>
        <p>Copyright &copy; 2021</p>
      </div>
      <nav>
        <ul>
          <li><a href="home.html"></a>Home</li>
          <li><a href="login.html"></a>Login</li>
          <li><a href="createAccount.html"></a>Create Account</li>
        </ul>
      </nav>
      <div class="social">
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
    </div>
  </footer>
  </body>
</html>
