<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grocery Store </title>
</head>
<body>
        <!--Navbar-->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">Grocery Store</h1>
            <nav>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="aisles/aisles.html">Aisles</a></li>
                    <li><a href="login.html">User login</a></li>
                    <li><a href="productDescription.html">Product Description</a></li>
                    <li><a href="createAccount.html">Create account</a></li>
                    <li><a href="cart.html">Cart</a></li>
                </ul>

            </nav>
        </div>
    </div>


<!--ShowCase-->
 <section class="showcase">
     <div class="container grid">
         <div class="showcase-text">
             <h1>Food</h1>
             <p>This is our grocery store</p>
             <a href="aisles/aisles.html" class="btn btn-outline">Order Now</a>
         </div>
         <div class="showcase-form card">
             <h2>Create account</h2>
             <form>
                 <div class="form-control">
                     <input type="text" name="name" placeholder="First Name" required>
                 </div>
                 <div class="form-control">
                     <input type="text" name="name" placeholder="Last Name" required>
                 </div>
                 <div class="form-control">
                     <input type="email" name="name" placeholder="Email" required>
                 </div>
                 <input type="submit" value="Send" class ="btn btn-primary">
             </form>
         </div>
     </div>
 </section>

<!--Category-->
<section class="category">
    <div class="container">
        <h3 class="category-heading text-center my-1">
Welcome to (Input name) the best online grocery store.
        </h3>



       <div class="grid grid-3 text-center my-4">
           <div>
                <!-- INSERT HERF FOR MEAT -->
               <a href=" " class="btn btn-primary">
                   <i class="fas fa-drumstick-bite"></i>
                   <p>Meat</p>
               </a>

           </div>

           <div>
               <a href="aisles/fruitsAndVegetables.html" class="btn btn-primary">
               <i class="fas fa-apple-alt"></i>
               <p>Fruits and Vegetables</p>
               </a>
           </div>

           <div>
         <!-- ADD THE HERF-->
               <a href=" " class="btn btn-primary">
               <i class="fas fa-bread-slice"></i>
               <p>Bread</p>
               </a>
           </div>
           <div>
               <!-- ADD THE HERF-->
               <a href="" class="btn btn-primary">
               <i class="fas fa-carrot"></i>
               <p>Vegetables</p>
               </a>
           </div>

           <div>
               <!-- ADD THE HERF-->
               <a href="" class="btn btn-primary">
               <i class="fas fa-egg"></i>
               <p>Dairy</p>
               </a>
           </div>
           <div>
               <!-- ADD THE HERF-->
               <a href="" class="btn btn-primary">
               <i class="fas fa-fish"></i>
               <p>Fish</p>
               </a>
           </div>


       </div>
    </div>
</section>


</body>
</html>