<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="snacks.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <header>
    <h1 class="snack_title">Snacks</h1>
  </header>

  <h1>Snacks Section</h1>

  <body>
    <div class="grid-container">
      <div class="grid-item grid-item-1">
        <img
          src="new images/doritos_nacho_cheese.jpeg"
          alt=""
          width="350px"
          height="350px"
        />
        <h3>Doritos Nachos Cheese</h3>
        <details>
          <p>Price: 2.25</p>
          <summary>Description</summary>
          <li>Doritos Nacho Cheese Tortilla- Flavoury cheese nachos (235g)</li>
        </details>
      </div>

      <div class="grid-item grid-item-2">
        <img
          src="new images/flaming_hot_cheetos.png"
          alt=""
          width="350px"
          height="350px"
        />
        <h3>Flaming Hot Cheetos</h3>
        <details>
          <p>Price: 2.25</p>
          <summary>Description</summary>
          <li>Cheetos Flamin' Hot Crunchy Cheese Flavoured Snacks (310g)</li>
        </details>
      </div>

      <div class="grid-item grid-item-3">
        <img
          src="new images/lays_classic.jpeg"
          alt=""
          width="350px"
          height="350px"
        />
        <h3>Lays Classis</h3>
        <details>
          <p>Price: 2.25</p>
          <summary>Description</summary>
          <li>Lay's Classic Potato Chips - Classic Lays Chips (235g)</li>
        </details>
      </div>

      <div class="grid-item grid-item-4">
        <img src="new images/aero.jpeg" alt="" width="250px" height="250px" />
        <h3>Aero</h3>
        <details>
          <p>Price: 2.25</p>
          <summary>Description</summary>
          <li>Aero Milk chocolate Candy Bar (42g)</li>
        </details>
      </div>

      <div class="grid-item grid-item-5">
        <img src="new images/kitkat.png" alt="" width="350px" height="350px" />
        <h3>Kitkat</h3>
        <details>
          <p>Price: 2.25</p>
          <summary>Description</summary>
          <li>Kitkat 4-Finger Milk Chocolate Bar (45g)</li>
        </details>
      </div>

      <div class="grid-item grid-item-6">
        <img
          src="new images/snicnkers.jpeg"
          alt=""
          width="350px"
          height="350px"
        />
        <h3>Snickers</h3>
        <details>
          <p>Price: 2.25</p>
          <summary>Description</summary>
          <li>Snickers Chocolate Candy Bar (57g)</li>
        </details>
      </div>
    </div>
  </body>

  <footer>
    <p>this is a paragraph</p>
  </footer>
</html>
