<html lang="en">
  <head>
    <link rel="stylesheet" href="snackscss.css" />
    <title>Snacks</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <h1 class="snack_title">Snacks</h1>
  </head>

  <body>
    <header>
      <h1>Snacks Section</h1>
    </header>

    <div class="column">
      <div class="row">
        <img src="new images/doritos_nacho_cheese.jpeg" alt="" />
        <h4>Doritos Nachos Cheese</h4>
        <details>
          <summary>Description</summary>
          <li>Doritos Nacho Cheese Tortilla- Flavoury cheese nachos (235g)</li>
        </details>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <img src="new images/lays_classic.jpeg" alt="" />
        <h4>Lays Classis</h4>
        <details>
          <summary>Description</summary>
          <li>Lay's Classic Potato Chips - Classic Lays Chips (235g)</li>
        </details>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <img src="new images/flaming_hot_cheetos.png" alt="" />
        <h4>Flaming Hot Cheetos</h4>
        <details>
          <summary>Description</summary>
          <li>Cheetos Flamin' Hot Crunchy Cheese Flavoured Snacks (310g)</li>
        </details>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <img src="new images/kitkat.png" alt="" />
        <h4>Kitkat</h4>
        <details>
          <summary>Description</summary>
          <li>Kitkat 4-Finger Milk Chocolate Bar (45g)</li>
        </details>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <img src="new images/aero.jpeg" alt="" />
        <h4>Aero</h4>
        <details>
          <summary>Description</summary>
          <li>Aero Milk chocolate Candy Bar (42g)</li>
        </details>
      </div>
    </div>

    <div class="column">
      <div class="row">
        <img src="new images/snicnkers.jpeg" alt="" />
        <h4>Snickers</h4>
        <details>
          <summary>Description</summary>
          <li>Snickers Chocolate Candy Bar (57g)</li>
        </details>
      </div>
    </div>
  </body>
</html>

<footer></footer>
