head {
  margin: 900px 1400px;
}

.grid-container {
  display: grid;
  grid-template-columns: 700px 700px;
  grid-template-rows: 580px;
  grid-column-gap: 100px;

  /* grid-template-columns: 25% 100%;
  grid-auto-rows: minmax(150px, auto);
  grid-row-gap: 20px;
  justify-content: right;
  align-content: center;
  height: 100vh; */
}

.grid-item grid-item-1 {
  padding: 10px;
  border-bottom: 1px solid black;

  /* justify-self: left; */
}
.grid-item grid-item-2 {
  background-color: powderblue;
  border: 1px solid navy;
}
.grid-item grid-item-3 {
  background-color: powderblue;
  border: 1px solid navy;
}
.grid-item grid-item-4 {
  background-color: powderblue;
  border: 1px solid navy;
}
.grid-item grid-item-5 {
  background: #ce8888;
  padding: 40px;
  /* justify-self: left; */
}
.great-item grid-item-6 {
  background: #ce8888;
  padding: 40px;
}
/* justify-self: right;
 */
